#
#  Config file to control the operation of the monitoring program.
#  This program is designed to work on linux systems.
#
#


# List the processnames that you wish tomonitor.
-process,/usr/libexec/findmydeviced,/usr/libexec/symptomsd,badproc1, badproc2,/usr/sbin/netbiosd,/usr/libexec/taskgated -s;

# Check status is used to indicate if the program will run all the time of
# if it will be executed by another process. In the default setup it is
# run by a cron job so setting a time to check is not needed.
-checkStatus,false;

# Wait time between checks. If a value is not included or is left blank 
# it is assigned 0 in the program. If no values are included here the
# program defaults to one minute

-checkhours,0;
-checkminutes,1;
-checkseconds,0;


# Wait time between alerts. If a value is not included or is left blank 
# it is assigned 0 in the program. If no values are included here the
# program defaults to one hour

-alerthours,0;
-alertminutes,30;
-alertseconds,0;